*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
    font-family: 'Karla';
}
.header{
    display: flex;
    align-items: center;
    height: 90px;
    color: white;
    background: linear-gradient(90deg, #672280 0%, #A626D3 100%);
    padding: 20px;
}
.smile{
 height: 100%;
 margin-right: 10px;

}
.header-title{
    font-size: 1.50em;
    margin-right: auto;
}
.header-no{
    font-size: 0.9em;
    font-weight: 500;
}
main{
    padding: 40px;
}
.form{
    display: grid;
    grid-template: 50px 50px/1fr 1fr;
    gap: 20px;

}
.form-button{
    grid-column:1/3;  
    border-radius: 5px;
    background: linear-gradient(135deg, #711F8D 0%, #A818DA 100%);
    color: wheat;
    cursor: pointer;
    border: none;
    margin-inline: 20em;


}
.form-button:hover{
    scale:  0.892;
    transition: .2s;
}
.form-input{
    text-indent: 8px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
}

.meme {
    position: relative;
 

}

.meme--image {
    display: block;
    margin-top: 20px;
    margin-inline: auto;
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
@media only screen and (max-width:400px) {
  .form-button{
    margin-inline: 20px;
    width: 250px;
 
  }
  .form-input{
    width: 140px;
  }
  .meme--text{
    font-size: 1.3em;
  }
  .header-title{
    font-size: 1em;
  }
  .header-no{
    font-size: 0.7em;
  }
  .header{
    padding: 15px;
    height: 70px;
  }
}